name: test_unstable

on:
  push:
  pull_request:
    types: [review_requested, ready_for_review]
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  # *************************************
  # **************** Tests **************
  # *************************************
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.15.0-alpha.5"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov pytest-codeblock
          pip install -e .

      - name: Run tests
        run: |
          mkdir -p path/to && chmod 777 path/to
          sudo mkdir -p /var/files/extracted
          sudo chmod 777 /var/files/extracted
          pytest \
            -vrx \
            --cov=safezip \
            --cov-report=term \
            --cov-report=xml
