name: test

on:
  push:
  pull_request:
    types: [review_requested, ready_for_review]
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  # *************************************
  # ************* Pre-commit ************
  # *************************************
  pre-commit:
    name: pre-commit ${{ matrix.python-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      max-parallel: 5
      matrix:
        os:
          - ubuntu-22.04
        python-version:
          - "3.11"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install detect-secrets
        run: pip install --no-cache-dir detect-secrets doc8
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  # *************************************
  # **************** Tests **************
  # *************************************
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov pytest-codeblock
          pip install -e .

      - name: Run tests
        run: |
          mkdir -p path/to && chmod 777 path/to
          sudo mkdir -p /var/files/extracted
          sudo chmod 777 /var/files/extracted
          pytest \
            -vrx \
            --cov=safezip \
            --cov-report=term \
            --cov-report=xml

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        if: matrix.python-version == '3.12'
        with:
          files: coverage.xml
          fail_ci_if_error: false

  # *************************************
  # ************** Coveralls ************
  # *************************************
  coveralls_finish:
    name: coveralls_finish
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      run: |
        python -m pip install pyyaml
    - name: Coveralls Finished
      id: coveralls-finish
      continue-on-error: true
#      if: steps.coveralls-setup.outcome == 'success'
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      uses: AndreMiras/coveralls-python-action@develop
      with:
        parallel-finished: true
        debug: true
